/* Тут пиши основные стили */

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 95px;

}
ul {
    list-style: none;
    padding: 0;
}
li {
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
    margin: 10px 15px;
}

.current {
    color: red;
}

li:hover {
    text-decoration: underline;
}
nav {
    background-color: #FAF9F8;
    padding: 0 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

header img {
    width: 97px;
    margin: 10px 37px;
}

h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    line-height: 44px;
    margin: 55px 0 10px;
}

h2 {
    font-size: 34px;
    line-height: 39px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    line-height: 33px;
    margin: 0;
}

img {
    width: 100%;
    margin: 43px 0 37px;
}

code {
    font-family: "Courier New", monospace;
    background-color: #f4f4f4;
    padding: 2px;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }

    li {
        display: list-item;
        margin: 5px;
    }

    h1 {
        font-size: 26px;
        line-height:28px;
    }

    h2 {
        font-size: 22px;
        line-height:39px;
    }

    p {
        font-size: 18px;
        line-height:22px;
    }
}